/* CSS Document */
html {
  font-size: 10px;
  background:url(http://i.imgur.com/b9r5sEL.jpg) bottom center;
  background-size: cover;
}
body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
	-webkit-align-items:center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.keys{
	display: flex;
	flex: 1;
	min-height: 100vh;
	justify-content: center;
	-webkit-justify-content:center;
	-ms-align-items: center;
	align-items: center;
}
.key{
	border: 4px black solid;
	border-radius: 5px;
	margin: 1rem;
	font-size: 1.5rem;
	padding: 1rem 0.5rem;
	transition: all 0.1s;
	width: 100px;
	text-align: center;
	color: white;
	text-shadow: 0 0 5px black;
	background-color:rgba(0,0,0,0.4);
}
.playing{
	transform: scale(1,1);
	border-color: #ffc600;
	-webkit-box-shadow: 0 0 10px #ffc600;
	box-shadow: 0 0 10px #ffc600;
}
kbd{
	display: block;
	font-size: 40px;
}
.sound{
	color: #FFC600;
	text-transform: uppercase;
	font-size: 1.2rem;
	letter-spacing: 1px;
}